interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/296cd243-7cda-4e9b-8d94-d2905faeb946.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-85.82979631, 10.89376305], [-85.82979631, 11.03402185], [-85.6847798,
        11.03402185], [-85.6847798, 10.89376305], [-85.82979631, 10.89376305]]]},
        "properties": {"bandid": "P", "latlonhae": [11.01469624, -85.82871643, 7.0],
        "mean_sun_el": 58.5, "center": {"type": "Point", "coordinates": [-85.757288055,
        10.96389245]}, "catid": "104001002838EC00", "cloud_cover": 0.0, "tdilevel":
        [48.0], "img_datetime_obj_utc": {"$date": 1486485903042}, "warp": {"yStep":
        100, "xStep": 100, "numXCells": 432, "yStart": 0, "targetGeoTransform": {"translateX":
        -85.82979631, "translateY": 11.03402185, "scaleX": 3.359683794466403e-06,
        "scaleY": -3.359683794466403e-06, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 418}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "1bde9189-4614-4df5-8bcb-235d05931834", "sourceImage": "296cd243-7cda-4e9b-8d94-d2905faeb946",
        "inverseScaleFactor": 2.0}, {"targetImage": "237a4876-c8a2-4ce4-b02a-3c1cd0e0915d",
        "sourceImage": "1bde9189-4614-4df5-8bcb-235d05931834", "inverseScaleFactor":
        2.0}, {"targetImage": "f491dbda-3e22-4306-bc29-63f7e84fb054", "sourceImage":
        "237a4876-c8a2-4ce4-b02a-3c1cd0e0915d", "inverseScaleFactor": 2.0}, {"targetImage":
        "d479990c-7db8-4e8c-afe5-31dea5b14a7a", "sourceImage": "f491dbda-3e22-4306-bc29-63f7e84fb054",
        "inverseScaleFactor": 2.0}, {"targetImage": "b369c5c7-8501-44f1-964b-e06bf6929cd6",
        "sourceImage": "d479990c-7db8-4e8c-afe5-31dea5b14a7a", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.2896], "abscalfactor": [0.0527336], "bbox": [-85.82979631,
        10.89376305, -85.6847798, 11.03402185], "band_centers": [649.36], "satid":
        "WV03", "band_names": ["P"], "off_nadir": 26.4, "image": {"satAzimuth": 220.6,
        "sunAzimuth": 145.2, "cloudCover": 0.0, "imageId": "296cd243-7cda-4e9b-8d94-d2905faeb946",
        "nativeTileFileFormat": "PNG", "numXTiles": 42, "imageWidth": 42500, "tileYSize":
        1024, "sensorName": "Panchromatic", "vendorDatasetIdentifier": "LV1B:056165420010_01_P001:104001002838EC00:A01001025E723900",
        "version": "1.0", "numBands": 1, "imageHeight": 35324, "offNadirAngle": 26.4,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-85.82871643
        11.01469624, -85.6847798 11.03402185, -85.68484657 10.91415767, -85.82979631
        10.89376305, -85.82871643 11.01469624))", "sunElevation": 58.5, "acquisitionDate":
        "2017-02-07T16:45:03.042Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 1024, "colorInterpretation": "PAN", "profileName": "dg_1b", "tilePartition":
        "0000", "groundSampleDistanceMeters": 0.374, "tileBucketName": "idaho-images",
        "tileXOffset": 0, "pniirs": 5.4, "satElevation": 60.8, "sensorPlatformName":
        "WV03", "numYTiles": 35}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1486485903042}, "_id": {"$oid": "58e6a5d59db347af059f59cc"}, "type": "Feature",
        "id": "296cd243-7cda-4e9b-8d94-d2905faeb946"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/graph/54c5afc4-b21c-5a46-94be-37e74892020f
  response:
    body: {string: !!python/unicode '{"id":"54c5afc4-b21c-5a46-94be-37e74892020f","edges":[{"id":"304e75c5-ae58-5c54-9b02-062ba8e2f086","index":1,"source":"704208f5-5e1a-599c-b4c3-6a54d4879c63","destination":"1c8bf013-a52f-5ced-96df-c9274cda7e8e"},{"id":"c92d2801-efee-517e-8e35-058aabc116ee","index":1,"source":"aee1f145-e6e1-52bf-b059-e5cd26400f7b","destination":"913f21af-6ba4-5c0d-b2ae-be9214666a28"},{"id":"1a523924-41fe-55c3-ac84-a50c838db4a6","index":4,"source":"1c8bf013-a52f-5ced-96df-c9274cda7e8e","destination":"aee1f145-e6e1-52bf-b059-e5cd26400f7b"},{"id":"d81aae10-4995-56df-8c01-0f1f2ab1dce9","index":1,"source":"88b0c1ed-c824-5235-bb2c-466a7658992f","destination":"d1ef614d-89d7-59b8-9393-c6cb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/54c5afc4-b21c-5a46-94be-37e74892020f/606f31de-7dea-57e0-912f-e9652af19eab/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.3596838875382673E-6,"scaleY":-3.3596838875382673E-6,"translateX":-85.82979583740234,"translateY":11.034021377563477,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/54c5afc4-b21c-5a46-94be-37e74892020f/606f31de-7dea-57e0-912f-e9652af19eab/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"296cd243-7cda-4e9b-8d94-d2905faeb946","version":"1.0","profileName":"dg_1b","tileBucketName":"ipe-graphs","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":-1,"tileYOffset":-1,"numXTiles":170,"numYTiles":1243,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":317761,"imageWidth":43243,"sensorPlatformName":"WV03","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P001:104001002838EC00:A01001025E723900","acquisitionDate":"2017-02-07T16:45:03.042Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-85.82871643 11.01469624, -85.6847798 11.03402185, -85.68484657 10.91415767,
        -85.82979631 10.89376305, -85.82871643 11.01469624))","groundSampleDistanceMeters":0.374,"sunAzimuth":145.2,"sunElevation":58.5,"satAzimuth":220.6,"satElevation":60.8,"cloudCover":0.0,"offNadirAngle":26.4,"pniirs":5.4}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
