interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/296cd243-7cda-4e9b-8d94-d2905faeb946.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-85.82979631, 10.89376305], [-85.82979631, 11.03402185], [-85.6847798,
        11.03402185], [-85.6847798, 10.89376305], [-85.82979631, 10.89376305]]]},
        "properties": {"bandid": "P", "latlonhae": [11.01469624, -85.82871643, 7.0],
        "mean_sun_el": 58.5, "center": {"type": "Point", "coordinates": [-85.757288055,
        10.96389245]}, "catid": "104001002838EC00", "cloud_cover": 0.0, "tdilevel":
        [48.0], "img_datetime_obj_utc": {"$date": 1486485903042}, "warp": {"yStep":
        100, "xStep": 100, "numXCells": 432, "yStart": 0, "targetGeoTransform": {"translateX":
        -85.82979631, "translateY": 11.03402185, "scaleX": 3.359683794466403e-06,
        "scaleY": -3.359683794466403e-06, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 418}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "1bde9189-4614-4df5-8bcb-235d05931834", "sourceImage": "296cd243-7cda-4e9b-8d94-d2905faeb946",
        "inverseScaleFactor": 2.0}, {"targetImage": "237a4876-c8a2-4ce4-b02a-3c1cd0e0915d",
        "sourceImage": "1bde9189-4614-4df5-8bcb-235d05931834", "inverseScaleFactor":
        2.0}, {"targetImage": "f491dbda-3e22-4306-bc29-63f7e84fb054", "sourceImage":
        "237a4876-c8a2-4ce4-b02a-3c1cd0e0915d", "inverseScaleFactor": 2.0}, {"targetImage":
        "d479990c-7db8-4e8c-afe5-31dea5b14a7a", "sourceImage": "f491dbda-3e22-4306-bc29-63f7e84fb054",
        "inverseScaleFactor": 2.0}, {"targetImage": "b369c5c7-8501-44f1-964b-e06bf6929cd6",
        "sourceImage": "d479990c-7db8-4e8c-afe5-31dea5b14a7a", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.2896], "abscalfactor": [0.0527336], "bbox": [-85.82979631,
        10.89376305, -85.6847798, 11.03402185], "band_centers": [649.36], "satid":
        "WV03", "band_names": ["P"], "off_nadir": 26.4, "image": {"satAzimuth": 220.6,
        "sunAzimuth": 145.2, "cloudCover": 0.0, "imageId": "296cd243-7cda-4e9b-8d94-d2905faeb946",
        "nativeTileFileFormat": "PNG", "numXTiles": 42, "imageWidth": 42500, "tileYSize":
        1024, "sensorName": "Panchromatic", "vendorDatasetIdentifier": "LV1B:056165420010_01_P001:104001002838EC00:A01001025E723900",
        "version": "1.0", "numBands": 1, "imageHeight": 35324, "offNadirAngle": 26.4,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-85.82871643
        11.01469624, -85.6847798 11.03402185, -85.68484657 10.91415767, -85.82979631
        10.89376305, -85.82871643 11.01469624))", "sunElevation": 58.5, "acquisitionDate":
        "2017-02-07T16:45:03.042Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 1024, "colorInterpretation": "PAN", "profileName": "dg_1b", "tilePartition":
        "0000", "groundSampleDistanceMeters": 0.374, "tileBucketName": "idaho-images",
        "tileXOffset": 0, "pniirs": 5.4, "satElevation": 60.8, "sensorPlatformName":
        "WV03", "numYTiles": 35}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1486485903042}, "_id": {"$oid": "58e6a5d59db347af059f59cc"}, "type": "Feature",
        "id": "296cd243-7cda-4e9b-8d94-d2905faeb946"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "072e217a-4f14-5c9b-907e-2062ee4f617b",
      "id": "2ba6265e-6252-5a00-9a26-960455aecb3f", "index": 1, "source": "b8b23e96-d75e-5698-ac2a-cdafb948b058"},
      {"destination": "b8b23e96-d75e-5698-ac2a-cdafb948b058", "id": "44a15ead-125b-574a-9133-be15f2684431",
      "index": 1, "source": "6165c9c3-6c76-59c9-84eb-1d4b3d50e615"}, {"destination":
      "6165c9c3-6c76-59c9-84eb-1d4b3d50e615", "id": "90b560b3-f108-5613-a99b-236a1125bc42",
      "index": 1, "source": "8b7f8fc7-8887-522e-a9dc-52eb7c8881a9"}, {"destination":
      "8b7f8fc7-8887-522e-a9dc-52eb7c8881a9", "id": "bf79b113-6781-5c87-8534-b845848236e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/9d2214f3793a5fdd64039f70a17c85ff760d224a91f4c4714d112707c5a709fc/072e217a-4f14-5c9b-907e-2062ee4f617b/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"296cd243-7cda-4e9b-8d94-d2905faeb946","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":170,"numYTiles":1243,"tileXSize":256,"tileYSize":256,"numBands":1,"dataType":"FLOAT","imageHeight":317988,"imageWidth":43508,"sensorPlatformName":"WV03","sensorName":"Panchromatic","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P001:104001002838EC00:A01001025E723900","acquisitionDate":"2017-02-07T16:45:03.042Z","colorInterpretation":"PAN","imageBoundsWGS84":"POLYGON
        ((-85.82986828195831 11.034230150395258, -85.68369515942867 11.034230150395258,
        -85.68369515942867 9.965891019960475, -85.82986828195831 9.965891019960475,
        -85.82986828195831 11.034230150395258))","groundSampleDistanceMeters":0.374,"minX":0,"minY":0,"maxX":43507,"maxY":317987,"minTileX":0,"minTileY":0,"maxTileX":169,"maxTileY":1242,"sunAzimuth":145.2,"sunElevation":58.5,"satAzimuth":220.6,"satElevation":60.8,"cloudCover":0.0,"offNadirAngle":26.4,"pniirs":5.4}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/9d2214f3793a5fdd64039f70a17c85ff760d224a91f4c4714d112707c5a709fc/072e217a-4f14-5c9b-907e-2062ee4f617b/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.359683794466403E-6,"scaleY":-3.359683794466403E-6,"translateX":-85.82986828195831,"translateY":11.034230150395258,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
