interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/50942a6f-8765-468d-8dd8-c4f4f20bec73.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-85.82968334, 10.17291976], [-85.82968334, 10.3229359], [-85.68396602,
        10.3229359], [-85.68396602, 10.17291976], [-85.82968334, 10.17291976]]]},
        "properties": {"bandid": "Multi", "latlonhae": [10.30275313, -85.82977031,
        67.58], "mean_sun_el": 59.1, "center": {"type": "Point", "coordinates": [-85.75682468,
        10.247927829999998]}, "catid": "104001002838EC00", "cloud_cover": 0.0, "tdilevel":
        [24.0, 24.0, 14.0, 24.0, 14.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc":
        {"$date": 1486485913540}, "warp": {"yStep": 100, "xStep": 100, "numXCells":
        108, "yStart": 0, "targetGeoTransform": {"translateX": -85.82977031, "translateY":
        10.3229359, "scaleX": 1.3537549407114624e-05, "scaleY": -1.3537549407114624e-05,
        "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode": "EPSG:4326"},
        "xStart": 0, "numYCells": 111}, "rrds": {"reducedResolutionDataset": [{"targetImage":
        "f1bef444-6c26-46e6-bf28-818350021117", "sourceImage": "50942a6f-8765-468d-8dd8-c4f4f20bec73",
        "inverseScaleFactor": 2.0}, {"targetImage": "2a496c7c-8921-4e1c-8992-114bb1f2a8a8",
        "sourceImage": "f1bef444-6c26-46e6-bf28-818350021117", "inverseScaleFactor":
        2.0}, {"targetImage": "3cd17843-5004-47b5-9d34-4c577bca1ad3", "sourceImage":
        "2a496c7c-8921-4e1c-8992-114bb1f2a8a8", "inverseScaleFactor": 2.0}, {"targetImage":
        "49b60315-ef12-4c3c-a5eb-0641c74c837e", "sourceImage": "3cd17843-5004-47b5-9d34-4c577bca1ad3",
        "inverseScaleFactor": 2.0}, {"targetImage": "f80b3620-187d-438f-aeb2-c060599c109f",
        "sourceImage": "49b60315-ef12-4c3c-a5eb-0641c74c837e", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.0133187, 0.00684307, 0.0176201,
        0.0143287, 0.0117971, 0.0102], "bbox": [-85.82968334, 10.17291976, -85.68396602,
        10.3229359], "band_centers": [427.38, 481.92, 547.14, 604.28, 660.11, 722.73,
        824.04, 913.65], "satid": "WV03", "band_names": ["C", "B", "G", "Y", "R",
        "RE", "N1", "N2"], "off_nadir": 26.7, "image": {"satAzimuth": 223.5, "sunAzimuth":
        144.5, "cloudCover": 0.0, "imageId": "50942a6f-8765-468d-8dd8-c4f4f20bec73",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:056165420010_01_P008:104001002838EC00:A01001025E728600",
        "version": "1.0", "numBands": 8, "imageHeight": 9602, "offNadirAngle": 26.7,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-85.82977031
        10.30275313, -85.68396602 10.3229359, -85.68491035 10.19188948, -85.82968334
        10.17291976, -85.82977031 10.30275313))", "sunElevation": 59.1, "acquisitionDate":
        "2017-02-07T16:45:13.540Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.507, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.4, "satElevation": 60.3, "sensorPlatformName":
        "WV03", "numYTiles": 38}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1486485913540}, "_id": {"$oid": "58c97d4c9db347af059f580a"}, "type": "Feature",
        "id": "50942a6f-8765-468d-8dd8-c4f4f20bec73"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/graph/85b2725d-cf45-5906-90e4-b6cc4cd05e69
  response:
    body: {string: !!python/unicode '{"id":"85b2725d-cf45-5906-90e4-b6cc4cd05e69","edges":[{"id":"049978ee-c065-55ac-b4e8-345940f58a11","index":3,"source":"c50a7c0f-cd14-502b-98f9-0723e72e55d9","destination":"ac8eb42e-cc6f-5be6-bdab-e33aed94df57"},{"id":"a64a789d-d5e0-503f-ae0e-c5f37c7bccd3","index":1,"source":"199547ee-a223-59d6-9821-ec0d30688bfc","destination":"965d54cc-d9ce-5dc1-980e-88dd99642919"},{"id":"bd5dca06-af17-5dba-adfa-552a4b5acc6f","index":1,"source":"a7207b2b-d2f5-510a-b5f4-530b678ff39e","destination":"8bf65e22-357d-521e-894a-104fb1eb21f3"},{"id":"6a2ba113-6e37-526f-b545-23edc16927ab","index":5,"source":"0df33786-844f-57ad-9880-e00237e1ea8e","destination":"ac8eb42e-cc6f-5be6-bdab-e33a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/85b2725d-cf45-5906-90e4-b6cc4cd05e69/17cef145-df54-5e89-b1e7-f5f25dd466e7/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:3857","scaleX":1.4980000257492065,"scaleY":-1.4980000257492065,"translateX":-9554550.0,"translateY":1235967.125,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/85b2725d-cf45-5906-90e4-b6cc4cd05e69/17cef145-df54-5e89-b1e7-f5f25dd466e7/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"50942a6f-8765-468d-8dd8-c4f4f20bec73","version":"1.0","profileName":"dg_1b","tileBucketName":"ipe-graphs","tilePartition":"0000","nativeTileFileFormat":"TIF","tileXOffset":-1,"tileYOffset":-1,"numXTiles":44,"numYTiles":317,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":80687,"imageWidth":10820,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P008:104001002838EC00:A01001025E728600","acquisitionDate":"2017-02-07T16:45:13.540Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.82977031 10.30275313, -85.68396602 10.3229359, -85.68491035 10.19188948,
        -85.82968334 10.17291976, -85.82977031 10.30275313))","groundSampleDistanceMeters":1.507,"sunAzimuth":144.5,"sunElevation":59.1,"satAzimuth":223.5,"satElevation":60.3,"cloudCover":0.0,"offNadirAngle":26.7,"pniirs":3.4}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
