interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/5f572bc0-45d3-437b-ac8e-ee20b7f617c4.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-85.82925179, 10.68847893], [-85.82925179, 10.83722445], [-85.68537331,
        10.83722445], [-85.68537331, 10.68847893], [-85.82925179, 10.68847893]]]},
        "properties": {"bandid": "Multi", "latlonhae": [10.81864648, -85.82911484,
        7.0], "mean_sun_el": 58.6, "center": {"type": "Point", "coordinates": [-85.75731255,
        10.76285169]}, "catid": "104001002838EC00", "cloud_cover": 0.0, "tdilevel":
        [24.0, 24.0, 14.0, 24.0, 14.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc":
        {"$date": 1486485905931}, "warp": {"yStep": 100, "xStep": 100, "numXCells":
        108, "yStart": 0, "targetGeoTransform": {"translateX": -85.82925179, "translateY":
        10.83722445, "scaleX": 1.3474667624865253e-05, "scaleY": -1.3474667624865253e-05,
        "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode": "EPSG:4326"},
        "xStart": 0, "numYCells": 111}, "rrds": {"reducedResolutionDataset": [{"targetImage":
        "69037e1f-3f64-466d-aa6d-a0026403f9cd", "sourceImage": "5f572bc0-45d3-437b-ac8e-ee20b7f617c4",
        "inverseScaleFactor": 2.0}, {"targetImage": "fbb7ec80-4dff-47ed-9c09-40eecaf92040",
        "sourceImage": "69037e1f-3f64-466d-aa6d-a0026403f9cd", "inverseScaleFactor":
        2.0}, {"targetImage": "300f35ef-8c39-47f6-819a-85670efe1573", "sourceImage":
        "fbb7ec80-4dff-47ed-9c09-40eecaf92040", "inverseScaleFactor": 2.0}, {"targetImage":
        "51449bb2-9fc5-4666-bb89-dd8bd019e117", "sourceImage": "300f35ef-8c39-47f6-819a-85670efe1573",
        "inverseScaleFactor": 2.0}, {"targetImage": "3f48f8d3-c5b3-4e82-a7be-fc8521e47349",
        "sourceImage": "51449bb2-9fc5-4666-bb89-dd8bd019e117", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.0133187, 0.00684307, 0.0176201,
        0.0143287, 0.0117971, 0.0102], "bbox": [-85.82925179, 10.68847893, -85.68537331,
        10.83722445], "band_centers": [427.38, 481.92, 547.14, 604.28, 660.11, 722.73,
        824.04, 913.65], "satid": "WV03", "band_names": ["C", "B", "G", "Y", "R",
        "RE", "N1", "N2"], "off_nadir": 26.5, "image": {"satAzimuth": 221.3, "sunAzimuth":
        145.0, "cloudCover": 0.0, "imageId": "5f572bc0-45d3-437b-ac8e-ee20b7f617c4",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:056165420010_01_P003:104001002838EC00:A01001025E729400",
        "version": "1.0", "numBands": 8, "imageHeight": 9601, "offNadirAngle": 26.5,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-85.82911484
        10.81864648, -85.68537331 10.83722445, -85.68432354 10.70820532, -85.82925179
        10.68847893, -85.82911484 10.81864648))", "sunElevation": 58.6, "acquisitionDate":
        "2017-02-07T16:45:05.931Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.5, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.4, "satElevation": 60.6, "sensorPlatformName":
        "WV03", "numYTiles": 38}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1486485905931}, "_id": {"$oid": "58cc17e59db347af059f583d"}, "type": "Feature",
        "id": "5f572bc0-45d3-437b-ac8e-ee20b7f617c4"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/graph/ae5930d8-f29c-51e4-a5a4-5476cd3c8fd1
  response:
    body: {string: !!python/unicode '{"id":"ae5930d8-f29c-51e4-a5a4-5476cd3c8fd1","edges":[{"id":"4c830ed3-c240-59f1-baf5-8d6ddf85ed80","index":1,"source":"cc4e424d-1afe-56a0-a968-8af8c9a935b3","destination":"ab626967-5908-50d9-bf94-290cc62fad7d"},{"id":"6d4a4116-0a3b-56f8-909a-820499e8c8d3","index":1,"source":"199547ee-a223-59d6-9821-ec0d30688bfc","destination":"84d8ad36-7d1a-5bd5-a220-a9829ca07432"},{"id":"b876425a-a6c7-538c-8ab1-ca2faf8b585a","index":1,"source":"a7207b2b-d2f5-510a-b5f4-530b678ff39e","destination":"66e47275-d1c3-594b-8f42-500e5ae9ca60"},{"id":"25eb71b5-9df4-5154-8a66-be40c5483f00","index":2,"source":"51747eb1-9e03-5576-aa2b-0a80d2640242","destination":"ec6ae216-8773-582f-9f6f-be92[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/ae5930d8-f29c-51e4-a5a4-5476cd3c8fd1/ec6ae216-8773-582f-9f6f-be92014c754d/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.3596838875382673E-6,"scaleY":-3.3596838875382673E-6,"translateX":-85.82979583740234,"translateY":11.034021377563477,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
