interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/1ec49348-8950-49ff-bd71-ea2e4d8754ac.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-74.0190588, 45.39276835], [-74.0190588, 45.51937376], [-73.83890812, 45.51937376],
        [-73.83890812, 45.39276835], [-74.0190588, 45.39276835]]]}, "properties":
        {"bandid": "Multi", "latlonhae": [45.51934028, -74.0192839, 160.07], "mean_sun_el":
        37.0, "center": {"type": "Point", "coordinates": [-73.92898346, 45.456071055]},
        "catid": "1040010023142D00", "cloud_cover": 0.0, "tdilevel": [24.0, 24.0,
        24.0, 24.0, 24.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc": {"$date": 1476202403770},
        "warp": {"yStep": 100, "xStep": 100, "numXCells": 147, "yStart": 0, "targetGeoTransform":
        {"translateX": -74.0192839, "translateY": 45.51937376, "scaleX": 1.2324829320876753e-05,
        "scaleY": -1.2324829320876753e-05, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 103}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "2a5ee008-820a-470b-92e3-b674a7369407", "sourceImage": "1ec49348-8950-49ff-bd71-ea2e4d8754ac",
        "inverseScaleFactor": 2.0}, {"targetImage": "13f3aa8e-6b58-42b5-8322-c3d15fb1b4c4",
        "sourceImage": "2a5ee008-820a-470b-92e3-b674a7369407", "inverseScaleFactor":
        2.0}, {"targetImage": "eb1df95b-978e-4c66-aa86-291b3109368a", "sourceImage":
        "13f3aa8e-6b58-42b5-8322-c3d15fb1b4c4", "inverseScaleFactor": 2.0}, {"targetImage":
        "ac893db0-2ee9-4d66-9442-0bc0c9419035", "sourceImage": "eb1df95b-978e-4c66-aa86-291b3109368a",
        "inverseScaleFactor": 2.0}, {"targetImage": "ccdad1cb-1438-482b-81f9-ee75ad9f8830",
        "sourceImage": "ac893db0-2ee9-4d66-9442-0bc0c9419035", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.007802301, 0.00684307,
        0.0103103, 0.0143287, 0.0117971, 0.0102], "bbox": [-74.0190588, 45.39276835,
        -73.83890812, 45.51937376], "band_centers": [427.38, 481.92, 547.14, 604.28,
        660.11, 722.73, 824.04, 913.65], "satid": "WV03", "band_names": ["C", "B",
        "G", "Y", "R", "RE", "N1", "N2"], "off_nadir": 19.4, "image": {"satAzimuth":
        178.9, "sunAzimuth": 171.0, "cloudCover": 0.0, "imageId": "1ec49348-8950-49ff-bd71-ea2e4d8754ac",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:055927792010_01_P006:1040010023142D00:A01001022FD0EC00",
        "version": "1.0", "numBands": 8, "imageHeight": 9922, "offNadirAngle": 19.4,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-74.0192839
        45.51934028, -73.83890812 45.51937376, -73.83912668 45.39250174, -74.0190588
        45.39276835, -74.0192839 45.51934028))", "sunElevation": 37.0, "acquisitionDate":
        "2016-10-11T16:13:23.770Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.372, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.5, "satElevation": 68.4, "sensorPlatformName":
        "WV03", "numYTiles": 39}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1476202403770}, "_id": {"$oid": "58c800519db347af059f57e5"}, "type": "Feature",
        "id": "1ec49348-8950-49ff-bd71-ea2e4d8754ac"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"edges": [{"destination": "643c0a15-5b33-52a7-9e9f-925581875800",
      "id": "02ed2c2a-a980-5b06-9ec0-7a3dcf7cee5f", "index": 1, "source": "8909eb24-7e86-5adb-a60e-85856fdec13a"},
      {"destination": "8909eb24-7e86-5adb-a60e-85856fdec13a", "id": "b3940cfd-48ea-5fd5-93c1-e158a31b5ca9",
      "index": 1, "source": "220b6888-d705-550f-9653-f4991bbce655"}, {"destination":
      "220b6888-d705-550f-9653-f4991bbce655", "id": "5f04a2d9-2598-5e06-9be3-703b27c8abdd",
      "index": 1, "source": "10a73652-56c1-5c5d-a7c4-e9fa1b70614c"}, {"destination":
      "10a73652-56c1-5c5d-a7c4-e9fa1b70614c", "id": "318f8d34-3847-5941-bc30-5f871b2f6096",
      "index": 1, "source": "a1dbf443-1498-5ffb-841f-336f9c3e0692"}, {"destination":
      "a1dbf443-1498-5ffb-841f-336f9c3e0692", "id": "6b63e2ae-56d7-5ebe-8cea-396d6580828a",
      "index": 1, "source": "11ee59e6-8988-55a6-8ab4-71db9ade2851"}], "nodes": [{"id":
      "643c0a15-5b33-52a7-9e9f-925581875800", "operator": "MultiplyConst", "parameters":
      {"constants": "[0.002958531417393051, 0.002594406290161713, 0.002841672837273421,
      0.0030377103700906334, 0.003387397362991064, 0.003857911098244222, 0.0049252540800813205,
      0.006056071815877442]"}}, {"id": "8909eb24-7e86-5adb-a60e-85856fdec13a", "operator":
      "AddConst", "parameters": {"constants": "[-7.154, -4.189, -3.287, -1.816, -1.35,
      -2.617, -3.752, -1.507]"}}, {"id": "220b6888-d705-550f-9653-f4991bbce655", "operator":
      "MultiplyConst", "parameters": {"constants": "[0.10326683239595048, 0.1454538449612403,
      0.11450949849514563, 0.16847243202099735, 0.18043025, 0.3467191604938271, 0.11538597808764939,
      0.16633846153846152]"}}, {"id": "10a73652-56c1-5c5d-a7c4-e9fa1b70614c", "operator":
      "Format", "parameters": {"dataType": "4"}}, {"id": "a1dbf443-1498-5ffb-841f-336f9c3e0692",
      "operator": "Orthorectify", "parameters": {"Elevation Source": "null", "Output
      Coordinate Reference System": "EPSG:4326", "Output Pixel to World Transform":
      "null", "Sensor Model": "null"}}, {"id": "11ee59e6-8988-55a6-8ab4-71db9ade2851",
      "operator": "IdahoRead", "parameters": {"bucketName": "idaho-images", "imageId":
      "1ec49348-8950-49ff-bd71-ea2e4d8754ac", "objectStore": "S3"}}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://idahoapi.geobigdata.io/v1/graph
  response:
    body: {string: !!python/unicode 56f7b1b5352f195cb96683ebbee941fb92f581c5a088e71e7ef239a679d194b8}
    headers:
      content-type: [text/plain]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/56f7b1b5352f195cb96683ebbee941fb92f581c5a088e71e7ef239a679d194b8/643c0a15-5b33-52a7-9e9f-925581875800/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"1ec49348-8950-49ff-bd71-ea2e4d8754ac","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":58,"numYTiles":42,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"FLOAT","imageHeight":10291,"imageWidth":14626,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:055927792010_01_P006:1040010023142D00:A01001022FD0EC00","acquisitionDate":"2016-10-11T16:13:23.770Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-74.0192222758534 45.51948468346389, -73.83895932220625 45.51948468346389,
        -73.83895932220625 45.392649864922745, -74.0192222758534 45.392649864922745,
        -74.0192222758534 45.51948468346389))","groundSampleDistanceMeters":1.372,"minX":5,"minY":-9,"maxX":14630,"maxY":10281,"minTileX":0,"minTileY":-1,"maxTileX":57,"maxTileY":40,"sunAzimuth":171.0,"sunElevation":37.0,"satAzimuth":178.9,"satElevation":68.4,"cloudCover":0.0,"offNadirAngle":19.4,"pniirs":3.5}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/56f7b1b5352f195cb96683ebbee941fb92f581c5a088e71e7ef239a679d194b8/643c0a15-5b33-52a7-9e9f-925581875800/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:4326","scaleX":1.2324829320876753E-5,"scaleY":-1.2324829320876753E-5,"translateX":-74.0192839,"translateY":45.51937376,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
