interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://idaho.timbr.io/16498a11-9145-4eda-a56e-d20ef132c288.json
  response:
    body: {string: !!python/unicode '{"geometry": {"type": "Polygon", "coordinates":
        [[[-85.82966945, 10.2758826], [-85.82966945, 10.42530414], [-85.68468562,
        10.42530414], [-85.68468562, 10.2758826], [-85.82966945, 10.2758826]]]}, "properties":
        {"bandid": "Multi", "latlonhae": [10.4060533, -85.82947324, 8.0], "mean_sun_el":
        59.0, "center": {"type": "Point", "coordinates": [-85.757177535, 10.35059337]},
        "catid": "104001002838EC00", "cloud_cover": 0.0, "tdilevel": [24.0, 24.0,
        14.0, 24.0, 14.0, 24.0, 14.0, 14.0], "img_datetime_obj_utc": {"$date": 1486485912018},
        "warp": {"yStep": 100, "xStep": 100, "numXCells": 108, "yStart": 0, "targetGeoTransform":
        {"translateX": -85.82966945, "translateY": 10.42530414, "scaleX": 1.3519583183614803e-05,
        "scaleY": -1.3519583183614803e-05, "shearY": 0.0, "shearX": 0.0, "spatialReferenceSystemCode":
        "EPSG:4326"}, "xStart": 0, "numYCells": 111}, "rrds": {"reducedResolutionDataset":
        [{"targetImage": "f767f5a4-2206-4851-9165-2bf74b86de73", "sourceImage": "16498a11-9145-4eda-a56e-d20ef132c288",
        "inverseScaleFactor": 2.0}, {"targetImage": "02a80261-3053-4643-974f-104ec1d6065d",
        "sourceImage": "f767f5a4-2206-4851-9165-2bf74b86de73", "inverseScaleFactor":
        2.0}, {"targetImage": "075f0ee9-5b9d-4891-87de-2a2eb399a4af", "sourceImage":
        "02a80261-3053-4643-974f-104ec1d6065d", "inverseScaleFactor": 2.0}, {"targetImage":
        "8822a62a-3404-4107-aab1-4918b980a900", "sourceImage": "075f0ee9-5b9d-4891-87de-2a2eb399a4af",
        "inverseScaleFactor": 2.0}, {"targetImage": "be4784ba-9500-419b-bdf9-576d99880088",
        "sourceImage": "8822a62a-3404-4107-aab1-4918b980a900", "inverseScaleFactor":
        2.0}]}, "effbandwidth": [0.0889, 0.0387, 0.0618, 0.0381, 0.054, 0.0405, 0.1004,
        0.0585], "abscalfactor": [0.0106378, 0.00621996, 0.0133187, 0.00684307, 0.0176201,
        0.0143287, 0.0117971, 0.0102], "bbox": [-85.82966945, 10.2758826, -85.68468562,
        10.42530414], "band_centers": [427.38, 481.92, 547.14, 604.28, 660.11, 722.73,
        824.04, 913.65], "satid": "WV03", "band_names": ["C", "B", "G", "Y", "R",
        "RE", "N1", "N2"], "off_nadir": 26.7, "image": {"satAzimuth": 223.0, "sunAzimuth":
        144.6, "cloudCover": 0.0, "imageId": "16498a11-9145-4eda-a56e-d20ef132c288",
        "nativeTileFileFormat": "TIF", "numXTiles": 42, "imageWidth": 10651, "tileYSize":
        256, "sensorName": "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1,
        NIR2) Multispectral", "vendorDatasetIdentifier": "LV1B:056165420010_01_P007:104001002838EC00:A01001025E726A00",
        "version": "1.0", "numBands": 8, "imageHeight": 9602, "offNadirAngle": 26.7,
        "vendorName": "DigitalGlobe, Inc.", "imageBoundsWGS84": "POLYGON ((-85.82947324
        10.4060533, -85.68468562 10.42530414, -85.68385489 10.29603293, -85.82966945
        10.2758826, -85.82947324 10.4060533))", "sunElevation": 59.0, "acquisitionDate":
        "2017-02-07T16:45:12.018Z", "dataType": "UNSIGNED_SHORT", "tileYOffset": 0,
        "tileXSize": 256, "colorInterpretation": "WORLDVIEW_8_BAND", "profileName":
        "dg_1b", "tilePartition": "0000", "groundSampleDistanceMeters": 1.505, "tileBucketName":
        "idaho-images", "tileXOffset": 0, "pniirs": 3.4, "satElevation": 60.4, "sensorPlatformName":
        "WV03", "numYTiles": 38}, "product_level": "LV1B"}, "_acquisitionDate": {"$date":
        1486485912018}, "_id": {"$oid": "58fe52ed9db347af059f607d"}, "type": "Feature",
        "id": "16498a11-9145-4eda-a56e-d20ef132c288"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"edges": [{"destination": "c63bc33f-6d72-5dba-866b-55d732d75391",
      "id": "e67b9ebb-280c-54fa-9fa1-a6c40f11ca61", "index": 1, "source": "ff91b4d7-7435-5afe-bb59-42a2a0c2537f"},
      {"destination": "c63bc33f-6d72-5dba-866b-55d732d75391", "id": "298600b3-2471-50bc-9d16-9fff6ad2f800",
      "index": 2, "source": "7c63ec58-d06c-5fbc-a0ad-7afb57a74174"}, {"destination":
      "c63bc33f-6d72-5dba-866b-55d732d75391", "id": "85ac7ef6-01f8-52c7-bca4-7e845ceea422",
      "index": 3, "source": "17209e04-b78f-5c95-9945-5d9d5099b983"}, {"destination":
      "c63bc33f-6d72-5dba-866b-55d732d75391", "id": "f476caa1-e9c4-508a-8ac4-e8956e8104e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/136b56810151a2abae86c26203d94419fb3cf40a7e6b3892a4ceea5258ffff9e/c63bc33f-6d72-5dba-866b-55d732d75391/image.json
  response:
    body: {string: !!python/unicode '{"imageId":"78ca4309-c1a0-4272-bf5c-a0b4d7cda2b3","version":"1.0","profileName":"dg_1b","tilePartition":"0000","tileXOffset":0,"tileYOffset":0,"numXTiles":170,"numYTiles":1243,"tileXSize":256,"tileYSize":256,"numBands":8,"dataType":"UNSIGNED_SHORT","imageHeight":317988,"imageWidth":43508,"sensorPlatformName":"WV03","sensorName":"8-band
        (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral","vendorName":"DigitalGlobe,
        Inc.","vendorDatasetIdentifier":"LV1B:056165420010_01_P004:104001002838EC00:A01001025E727600","acquisitionDate":"2017-02-07T16:45:07.453Z","colorInterpretation":"WORLDVIEW_8_BAND","imageBoundsWGS84":"POLYGON
        ((-85.82986828195831 11.034230150395258, -85.68369515942867 11.034230150395258,
        -85.68369515942867 9.965891019960475, -85.82986828195831 9.965891019960475,
        -85.82986828195831 11.034230150395258))","groundSampleDistanceMeters":1.501,"minX":0,"minY":0,"maxX":43507,"maxY":317987,"minTileX":0,"minTileY":0,"maxTileX":169,"maxTileY":1242,"sunAzimuth":144.9,"sunElevation":58.7,"satAzimuth":221.8,"satElevation":60.6,"cloudCover":0.0,"offNadirAngle":26.5,"pniirs":3.4}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://idahoapi.geobigdata.io/v1/metadata/idaho-virtual/136b56810151a2abae86c26203d94419fb3cf40a7e6b3892a4ceea5258ffff9e/c63bc33f-6d72-5dba-866b-55d732d75391/georeferencing.json
  response:
    body: {string: !!python/unicode '{"spatialReferenceSystemCode":"EPSG:4326","scaleX":3.359683794466403E-6,"scaleY":-3.359683794466403E-6,"translateX":-85.82986828195831,"translateY":11.034230150395258,"shearX":0.0,"shearY":0.0}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
